
  <table>
    <thead>
      <tr>
        <td>Task name</td>
        <td>Date created</td>
        <td>Status (Done)</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks">
      <tr>
        <td>{{ task.taskName }}</td>
        <td>{{ task.date | date : "medium" }}</td>
        <td>
          <form class="task-form">
            <input [checked]="task.isDone" (change)="onStatusChange($event, task._id)" class="task-check" type="checkbox" name="done" id="done" />
          </form>
        </td>
        <td>
          <button (click)="delete(task._id)" class="task-delete" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="16" height="16">
              <path d="M13 3 A 1.0001 1.0001 0 0 0 11.986328 4L6 4 A 1.0001 1.0001 0 1 0 6 6L24 6 A 1.0001 1.0001 0 1 0 24 4L18.013672 4 A 1.0001 1.0001 0 0 0 17 3L13 3 z M 6 8L6 24C6 25.105 6.895 26 8 26L22 26C23.105 26 24 25.105 24 24L24 8L6 8 z" fill="#fff" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
