
<div class="landing">
  <div class="content">
    <div class="content-overview">
      <img src="../../assets/images/to-do-list-svgrepo-com.svg" alt="todo_logo" class="logo">
      <h1 class="content-overview-title">To Do</h1>
      <p class="content-overview-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, ea.</p>
    </div>
    <div class="content-form">
      <div class="content-form-navigation">
        <button type="button" class="content-formenavigation-button">Sign In</button>
        <span class="v-line">&nbsp;</span>
        <button type="button" class="content-formenavigation-button">Sign Up</button>
      </div>
    </div>
  </div>
</div>
