@import "../../assets/scss/variables";

.task{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  margin: 0%;
  padding: 10px;
}
.task-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 10px;
  flex: 1 1 90%;
}
.task-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex: 1 1 90%;
}
.task-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 10%;
}
.task-name{
  font-size: 16px;
  width: 100%;
  height: fit-content;
  padding: 5px;
  color: $dark;
}
.task-date{
  font-size: 14px;
  width: 100%;
  height: fit-content;
  margin: 5px;
  color: $grey;
}
.task-form{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 5px;
}
.task-check{
  outline: none;
}
.task-label{
  font-size: 14px;
  color: $grey;
}
.task-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: $error;
  outline: 2px solid $error;
  color: White;
  border-radius: 5px;
}
.home-task-clear{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 10px auto;
  color: $sky;
  background-color: white;
  outline: 2px solid $sky;
  border-radius: 5px;
}
.checked{
  color: $grey-light;
  text-decoration: line-through;
}

