<button (click)="reset()" class="home-task-clear" type="button">
  Clear
</button>
  <div *ngFor="let task of tasks" class="task">
    <div class="task-item">
      <div class="task-content">
        <h4 [class.checked]="task.isDone" class="task-name">{{ task.taskName }}</h4>
        <h6 class="task-date">{{ task.date | date : "medium" }}</h6>
        <form action="" class="task-form">
          <input [checked]="task.isDone" (change)="onStatusChange($event, task._id)" class="task-check" type="checkbox" name="done" id="done" />
          <label class="task-label" for="done">Done</label>
        </form>
      </div>
      <div class="task-button">
        <button (click)="delete(task._id)" class="task-delete" type="button">
          X
        </button>
      </div>
    </div>
  </div>
