@import "../../assets/scss/variables";
@import "../../assets/scss/utils";

.form-control{
  @include flex(row, center, center);
  align-self: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 32px 16px;
}
.form-control-input{
  width: 100%;
  height: fit-content;
  padding: 5px 0px;
  outline: none;
  border-bottom: 2px solid $sky;

}
.form-control-submit{
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin: 20px 0%;
  background-color: $sky;
  color: white;
  outline: none;
  border-radius: 5px;
}
.error{
  width: 100%;
  height: fit-content;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: $error;
}
.form-title{
  font-size: 16px;
  font-weight: lighter;
  color: $sky;
  text-align: center;
}
.form-control-password{
  @include flex(row, start, center);
  width: 100%;
  height: fit-content;
  padding: 5px 0px;
}
.form-control-input-password{
  display: flex;
  margin: 0px;
  height: fit-content;
  padding: 5px 0px;
  flex: 1 1 88%;
  outline: none;
  border-bottom: 2px solid $sky;
}
.form-control-password-view{
  @include flex(center, center);
  margin: 0px;
  margin-left: 2%;
  flex: 1 1 10%;
  color: $sky;
  font-size: 16px;
  outline: none;
  border-left: 2px solid $sky;
}
.form-control-password-view:hover{
  box-shadow: none;
  transform: none;
}
