
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular_todo_app-primary: mat.define-palette(mat.$indigo-palette);
$angular_todo_app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular_todo_app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular_todo_app-theme: mat.define-light-theme((
  color: (
    primary: $angular_todo_app-primary,
    accent: $angular_todo_app-accent,
    warn: $angular_todo_app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular_todo_app-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables";

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
button{
  width: fit-content;
  height: fit-content;
  padding: 5px 16px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: none;
  outline: 2px solid #6c6c6c;
  color: #6c6c6c;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}
button:hover{
  box-shadow: 0px 1px 7px #9a9a9a;
  transform: translateY(-3px);
}
*{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #242424;
}
input{
  background-color: transparent;
  border: none;
  outline: 2px solid #6c6c6c;
  color:#6c6c6c;
  padding: 10px 15px;
  margin: 10px;
}
::placeholder{
  color: #6c6c6c;
  font-size: 12px;
}
.active-link{
  border-bottom: 2px solid $sky;
}
*{
  margin: 0%;
  color: $dark;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
