 <div class="home">
    <app-sidebar></app-sidebar>
  <div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>
    <div class="dashboard-action">
      <h4 class="element">Task count:&nbsp;{{taskCount}}</h4>
      <div class="input-form">
        <form
          [formGroup]="taskForm"
          (ngSubmit)="onSubmit(taskForm.value)"
          class="form-control"
        >
          <input
            formControlName="taskName"
            type="text"
            class="form-input"
            placeholder="Type a new task"
          />
          <button type="submit" class="form-submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="24" heigth="24">
              <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M20,16h-4v4 c0,0.553-0.448,1-1,1s-1-0.447-1-1v-4h-4c-0.552,0-1-0.447-1-1s0.448-1,1-1h4v-4c0-0.553,0.448-1,1-1s1,0.447,1,1v4h4 c0.552,0,1,0.447,1,1S20.552,16,20,16z" fill="#fff" />
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="dashboard-content">
      <app-table [newTask]="task" [columnLabel]="columnInfo" [columnWidth]="columnWidth" class="tab"></app-table>
    </div>
  </div>
  <!-- <div class="home-task">
    <div class="home-header">
      <h3 class="home-user">Welcome &nbsp;{{ user.username }}</h3>
      <h6 class="home-task-title">What do you wanna do?</h6>
    </div>
    <form
      [formGroup]="taskForm"
      (ngSubmit)="onSubmit(taskForm.value)"
      class="home-form-control"
    >
      <input
        formControlName="taskName"
        type="text"
        class="home-form-input"
        placeholder="Type a new task"
      />
      <button type="submit" class="home-form-submit">+</button>
    </form>
    <span *ngIf="error !== ''" class="error">{{ error }}</span>
    <div class="tasks">
      <app-arraydash></app-arraydash>
      <app-task [newTask]="task"></app-task>
    </div>
    <button (click)="disconnect()" class="home-task-disconnect" type="button">
      Disconnect
    </button>
  </div> -->
</div>
