<div class="home">
  <div class="home-task">
    <h1 class="home-task-title">What do you wanna do?</h1>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)" class="home-form-control">
      <input formControlName="name" type="text" class="home-form-input" placeholder="Type a new task">
      <button class="home-form-submit">+</button>
    </form>
    <span *ngIf="error !== ''" class="error">{{error}}</span>
    <div class="tasks">
      <app-task></app-task>
    </div>
    <button (click)="reset()" class="home-task-clear" type="button">Clear</button>
    <button (click)="disconnect()" class="home-task-disconnect" type="button">Disconnect</button>
  </div>
</div>
